/*Cabeçalho*/
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    background-color: #ECF4D6;
    height: 100px;
    align-items: center;
    width: 100%;
}

.item{
    font-size: 1em;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
    border: 2px solid #000;
    width: 10%;
    text-align: center; 
    margin-right: 4%;
}

nav{
    margin-right: 44%;
}

/*Principal*/
.container_{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.itemMenu{
    margin-top: 10px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    width: 90%;  
    border: 1px solid #000;
    background-color: #9ad0c2;
    align-content: center;
    justify-content: center;
}

.painel{
    border: 2px solid #000;
    width: 12%;
    height: 50%;
    margin: 5% 3% 0% 5%;
}

.footer{
    color: white;
    border: 1px solid #000;
    width: 100%;
    background-color: #265073;
}